.product-container{
    border:2px solid brown;
    border-radius: 5px;
    display: inline-block;
    padding: 12px;
}
.cart .add,.cart .amount,.cart .minus{
    display: inline-block;
}
.cart{
    border:2px solid brown;
    border-radius: 5px;
    display: inline-block;
    padding: 12px;
    float: right;;
}
.image{
    border:1px solid #000; width:300px; height:300px;
    overflow: auto;
}
.image .img{
    max-width:300px;
    _width:300px;
    _height:300px;
}
.sale{
    color: crimson;
}

.regular{
    color:darkslategray;
}